
.hero-container {
    background-color: var(--blue);
    min-height: 820px;
    position: relative;
}

.hero-grid{
    display: grid;
    grid-template-columns: 24% 50%;
    grid-template-rows: 92px 500px;
}

/* TOP OF THE GRID NAVBAR */
/* From column 2 it spans 2 rows */
.top-nav {
    grid-column: 2 / span 2;
    display: flex;
    align-items: center;
    margin-top: 1.4rem;
}

.top-nav ul {
    display: flex;
    list-style: none;
}

.top-nav ul li {
    color: var(--white);
    padding-right: 2rem;
}

/* lEFT OF THE GRID */
.hero-left {
    padding-left: 2rem;
}

.bar {
    margin: 1rem 2.8rem 0rem 2.8rem;
    width: 2px;
    height: 30%;
    background-color: var(--white);
}

.icons-container {
    margin: 1.6rem 2rem;
}

.icon {
    display: block;
    color: var(--white);
    font-size: 28px;
    margin: 10px 0;
}

.icon:hover {
    cursor: pointer;
    color: var(--red);
    transition: color 0.2s;
}

/* HERO CENTER CONTAINER */
.hero-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
}

/* CENTER INFO IN THE HERO */
.main-info {
    margin-right: 1rem;
}

.main-info span {
    color: var(--grey);
    font-size: 18px;
}

.main-info h3 {
    color: var(--grey);
}

/* Main Info Buttons */
.btn-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.main-info button {
    min-width: 180px;
    padding: 10px 0;
    font-size: 16px;
    color: var(--white);
}

.main-info button:nth-child(1){
    margin-right: 10px;
}

.hero-img-wrapper {
    min-width: 240px;
    width: 240px;
    height: 250px;
    background-color: var(--white);
    border-radius: 10px;
    position: relative;
}
.hero-img-wrapper img {
    object-fit: cover;
    width: 100%;
    transform: translate(0px,-7px);
    z-index: 2;
}


.img-outline {
    position: absolute;
    width: 240px;
    height: 250px;
    background: none;
    border: 1px solid white;
    top: 0;
    right: 0;
    border-radius: 10px;
    transform: translate(20px,20px);
    z-index: -1;

}

/* WAVE BACKGROUND */
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 203px;
}

.wave .shape-fill {
    fill: var(--white);
}

.nav-link:hover {
    color: var(--red);
    transition: color 0.2s;
}

@media only screen and (max-width: 900px) {

    .hero-grid{
        display: flex;
        flex-direction: column;
    }

    .top-nav {
       display: flex;
       justify-content: center;
       padding-top: 2rem;
    }

    .hero-center {
        display: block;
        margin: 4rem auto;
    }

    .hero-img-wrapper {
        max-width: 240px;
        margin: 2rem auto;
    }

    .hero-left {
        display: none;
    }

    .main-info button {
        min-width: 210px;
        padding: 10px 0;
    }

    .main-info span {
        display: none;
    }
}