
.hero-container {
    background-color: var(--blue);
    min-height: 900px;
    position: relative;
}

.hero-grid{
    display: grid;
    grid-template-columns: 24% 50%;
    grid-template-rows: 92px 540px;
}

/* TOP OF THE GRID NAVBAR */
/* From column 2 it spans 2 rows */
.top-nav {
    grid-column: 2 / span 2;
    display: flex;
    align-items: center;
}

.top-nav ul {
    display: flex;
    list-style: none;
}

.top-nav ul li {
    color: var(--white);
    padding-right: 2rem;
}

/* lEFT OF THE GRID */
.hero-left {
    padding-left: 2rem;
}

.bar {
    margin: 2rem 2.8rem;
    width: 2px;
    height: 30%;
    background-color: var(--white);
}

.icons-container {
    margin: 1.6rem 2rem;
}

.icon {
    display: block;
    color: var(--white);
    font-size: 28px;
    margin: 10px 0;
}

/* HERO CENTER CONTAINER */
.hero-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CENTER INFO IN THE HERO */
.main-info {
    margin-right: 1rem;
}

.main-info span {
    color: var(--grey);
    font-size: 18px;
}

.main-info h3 {
    color: var(--grey);
}

/* Main Info Buttons */
.btn-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.main-info button {
    min-width: 180px;
    padding: 10px 0;
    font-size: 16px;
    color: var(--white);
}

.main-info button:nth-child(1){
    margin-right: 10px;
}

.hero-img-wrapper {
    min-width: 200px;
    max-width: 300px;
    position: relative;
    z-index: 2;
}
.hero-img-wrapper img {
    width: 100%;
}

.img-outline{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    border: 2px solid var(--white);
    border-radius: 15px;
    z-index: -1;
}

/* WAVE BACKGROUND */
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 203px;
}

.wave .shape-fill {
    fill: var(--white);
}


@media only screen and (max-width: 780px) {

    .hero-grid{
        display: flex;
        flex-direction: column;
    }

    .top-nav {
       display: flex;
       justify-content: center;
       padding-top: 2rem;
    }

    .hero-center {
        display: block;
        margin: 4rem auto;
    }

    .hero-img-wrapper {
        max-width: 240px;
        margin: 2rem auto;
    }

    .hero-left {
        display: none;
    }

    .main-info button {
        min-width: 210px;
        padding: 10px 0;
    }

    .main-info span {
        display: none;
    }
}