@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;700&display=swap');

* {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  --red: #D8315B;
  --black: #040508;
  --blue: #253039;
  --white: #F2F5EA;
  --grey: #dadada;
  --blueBar: #328DC2;
  --greenBar: #52B1AB;
}

body {
  background-color: var(--white);
  color: var(--white);
}

h1 {
  color: var(--white);
  font-size: 48px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 22px;
  font-weight: 300;
}

/* Helper Classes */
.btn-cta {
  background: var(--red);
  font-weight: 600;
  border: none;
  color: var(--white);
}

.btn-sec {
  border: 1px solid var(--white);
  background: none;
  color: var(--white);
}


/* Center Block element with width */
.-c{
  margin: 0 auto;
}




